html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
	background-color: #000000;
	margin: auto;
	width: 100;
}

a {
	color: #b0c4de;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.sub {
  color: #404040;
  font-size: 1.25em;
  font-weight: bold;
}

.header {
  background-color: #d0d0d0;
}

.logo img {
  padding: 10px;
  width: 50%;
}

/* Start Accordion */
.accordion, .accordion * {
  -webkit-box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  box-sizing:border-box;
}
 
.accordion {
  background: #f7f7f7;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  border-radius: 3px;
  overflow: hidden;
}

.accordion-section-title {
  background: #4d4d4d;
  color: #ffffff;
  display: inline-block;
  padding: 10px;
  transition: all linear 0.15s;
  text-shadow: 0px 1px 0px #1a1a1a;
  width: 100%;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
  background: #333333;
  text-decoration: none;
}
 
.accordion-section:last-child .accordion-section-title {
  border-bottom: none;
}
 
.accordion-section-content {
  display: none;
  padding: 10px;
}

.accordion-section-content a {
  color: #7D8C9E;
}
/* End Accordion */

/* Start Navigation Menu */
.nav a{
   text-decoration: none;
   background-color: inherit;
   color: inherit;
   font-weight: normal;
}

.nul{
   background-color: #ff0000;
   color: #ffffff;
   display: block;
   font-size: 1em;
   margin: 0;
   overflow: hidden;
   text-align: center;
   text-transform: uppercase;
   width: 100%;
   -webkit-transition: max-height 0.4s;
   -ms-transition: max-height 0.4s;
   -moz-transition: max-height 0.4s;
   -o-transition: max-height 0.4s;
   transition: max-height 0.4s;
}

.nul li{
   display: inline-block;
   padding: 10px;
}

.nul li:hover{
   background: #bf0000;
}

.mobilenav {
   background: #ff0000;
   box-sizing: border-box;
   color: white;
   cursor: pointer;
   display: none;
   padding: 15px 10px;
   text-align: left;
   width: 100%;
}
/* End Navigation Menu */

/* Start Slider */
.rslides {
  clear: both;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.rslides li {
  display: none;
  left: 0;]
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.caption {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
  background: #000;
  background: rgba(0,0,0, .8);
  color: #fff;
}
/* End Slider */

.content {
  background-color: #ffffff;
}

.wrapper {
	padding: 10px;
}

.footer {
	background-color: #4d4d4d;
	color: #bfbfbf;
}

/* Start Media Display */
@media screen and (max-width: 875px){
  .nul {
      max-height: 0;
  }
   
  .showing {
      max-height: 30em;    
  }
   
   .nul li {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      text-align: left;
    }
   
    .mobilenav {
      display: block;
    }
}

@media screen and (min-width: 960px){
  body, .nav ul {
      width: 960px;
    }

  .agenda {
      height: 200px;
    }
}

@media handheld and (min-width: 260px){
  body, .nav ul {
    width: 260px;
  }

  .calendar {
    height: 100px;
  }
}
/* End Media Display */